* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #0066ff, #425eff, #6255ff, #4f2ea5, #291238)no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}


h1 {
    font-size: 8rem;
    padding: 6rem 0 6rem 0;
    text-align: center;
    color: white;
    font-weight: 800;
    text-shadow: 5px 5px #000;
}

.todo-cnt {
    max-width: 60rem;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.todo-form {
    font-family: sans-serif;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-image: linear-gradient(to bottom, #252525, #212121, #1d1d1d, #1a1a1a, #161616);
    border-radius: 1rem;
    color: white;
}

.todo-form-row {
    overflow: hidden;
}

.todo-form-label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    font-size: 1.8rem;
}

.todo-form-message {
    padding: 1rem;
    height: 10rem;
    width: 100%;
    background-image: linear-gradient(to bottom, #252525, #292929, #2e2e2e, #323232, #373737);
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    resize: vertical;
    font-family: sans-serif;
    color: white;
    font-size: 1.8rem;
}

.todo-form-button {
    padding: 0.8rem 1.6rem;
    background: rgb(255, 242, 54);
    color: rgb(0, 0, 0);
    border: 0;
    font-weight: 600;
    border-radius: 0.188rem;
    transition: 0.4s all;
    cursor: pointer;
    float: right;
}

.todo-form-button:hover {
    background: #ED2D2D;
}

.todo-list-cnt {
    font-family: sans-serif;
    padding: 1rem 2rem;
    max-width: 60rem;
    margin: 2rem auto;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #252525, #212121, #1d1d1d, #1a1a1a, #161616);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;

}

.todo-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-list-search-form {
    width: 50%;
}

.todo-list-search {
    border: 1px solid #ddd;
    padding: 0.5rem;
    width: 100%;
}

.todo-list-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    text-transform: uppercase;
}

.todo-element {
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 2rem auto;
    max-width: 60rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #252525, #212121, #1d1d1d, #1a1a1a, #161616);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

.todo-element-bar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
}

.todo-element-date {
    margin: 0;
}

.todo-element-date {
    font-size: 0.9rem;
    font-weight: normal;
}

.todo-element-delete {
    color: rgb(255, 22, 22);
    border: 0;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    padding: 0;
    transition: 0.4s all;
}

.todo-element-delete svg {
    pointer-events: none;
    /* nie chcemy obsługi kliknięć na elementy svg - bo takie dodaje użyty fontAwesome */
}

.todo-element-delete:hover {
    color: rgb(237, 45, 45);
}

.todo-element-text {

    color: rgb(212, 212, 212);
    font-size: 1.2rem;

}


.pika {
    margin: auto;
    width: 400px;
    height: 200px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 30%;

}


.thor {
    margin: auto;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 30%;
    right: 30%;
    z-index: -2;
}

img {
    margin: auto;
    width: 400px;
}

button.portfolio {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    top: 20%;
    width: 20rem;
    height: auto;
}

button.portfolio .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.portfolio .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.portfolio .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.portfolio .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

button.portfolio .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: transparent;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
}